.eo-embedded-subscribe-form {
	width: 100%;
}

.eo-embedded-subscribe-form .field label {
	display: block;
	margin: 0;
	padding: 0px;
}

.eo-embedded-subscribe-form .field {
	display: block;
	margin: 0 0 20px 0;
	padding: 0px;
}

.eo-embedded-subscribe-form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
}

.eo-embedded-subscribe-form .eo_response_block {
	padding: 10px;
	margin-top: 10px;	
}

.eo-embedded-subscribe-form .eo_success {
	background: #c7eac7;
	color: green;
}

.eo-embedded-subscribe-form .eo_error {
	background: #F0D4D2;
	color: maroon;
}

.eo-embedded-subscribe-form .eo_notice {
	background: #ededce;
	color: #807100;
}

.eo_description {
	margin-bottom: 15px;
}

.eo-align-right, .eo-align-right * {
	text-align: right !important;
}

.eo-align-left, .eo-align-left * {
	text-align: left !important;
}

.eo-align-center, .eo-align-center * {
	text-align: center !important;
}

.eo-embedded-subscribe-form .captcha_imgs {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

.eo-embedded-subscribe-form .captcha_imgs img {
	border: 5px solid transparent;
	border-radius: 100px;
	padding: 1%;
	width: 50px;
	max-width: 20%;
	margin: 0 1%;
	cursor: pointer;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
	display: inline-block;
}

.eo-embedded-subscribe-form .captcha_imgs img.selected {
	border-color: #012C4C;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1.0;
}

.eo_clear {
	clear: both;
}